div.container{
    border: 1px solid black;
    box-sizing: border-box;
    width: 98vw;
    margin: 1vw auto;
    height: 50vw;
    display: flex;
}
.container > div {
    flex: 1;
    border: 1px solid black

}
